---
# Install docker engine.
#
# This is one of at least two mechanisms for installing Docker via apt (the other
# being the `lxc-docker` package). There is currently only one version of `docker-engine`
# available, so this mechanism will only work for the most recent `docker_version`,
# currently `1.8.1`.
#
# Installing this docker will remove the lxc-docker package.


- name: Add Docker Engine Repository Key
  apt_key:
    keyserver: "hkp://p80.pool.sks-keyservers.net:80"
    id: "58118E89F3A912897C070ADBF76221572C52609D"

- name: Add Docker Engine Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    update_cache: yes

# The package version for docker-engine looks something like this:
#
#   1.11.2-0~trusty
#
# The part before the dash is the Docker version. The "0" here is the "debian revision"
# - that's there to allow the package builder to give you a new version of the package
# even if the packaged software hasn't changed. For packages that use "debian revision",
# the convention is to start with "-1"; "-0" generally means "we are opting out of this
# debian revision stuff". All of the packages available in the docker repo have
# revision "-0". That said, it *could* be set to something non-zero at some point in the
# future. So, use a wildcard instead of 0 when specifying the path. Apt will search and,
# if there are multiple matches, install the matching package with the highest version.
# i.e. if there's a -0 and a -1 we'll get -1.
#
# Reference: https://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-Version
#
# Beginning with Docker 1.12.4, the version includes the distribution name:
#
#   1.12.4-0~ubuntu-trusty
#
# Include the distribution name as needed
- name: Install Docker Engine
  apt:
    name: "docker-engine={{ docker_version }}-*~{{
             docker_version
               | version_compare('1.12.4', '>=')
               | ternary(ansible_distribution + '-', '')
           }}{{
             ansible_distribution_release
           }}"
    state: present
  register: r_docker_package_install
  when: not check_mode
