---
# reboot an Ubuntu machine if needed and wait for it to come back
- name: Detect vagrant instance
  set_fact:
    is_vagrant: "{{is_vagrant | default(ansible_ssh_user == 'vagrant')}}"

- name: Reboot instance
  command: /sbin/shutdown -r now
  args:
    removes: /var/run/reboot-required
  register: reboot_result

- name: Reload vagrant instance
  local_action: command vagrant reload "{{inventory_hostname}}"
  when: reboot_result|changed and is_vagrant
  become: false

- name: Wait for instance to come online
  local_action:
    module: wait_for
    host: "{{ ansible_ssh_host|default(inventory_hostname) }}"
    port: "{{ ansible_ssh_port|default(ssh_port) }}"
    delay: 30
    timeout: 600
    state: started
  when: reboot_result|changed
  become: false
